
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/admins/_LayoutAdmin.cshtml";
}

@model BTL_LT_UD_WEB.Models.poster
<section class="content">
    <div class="card">
        <!-- /.card-header -->
        <div class="card-body table-responsive">
            <div>
                <h4>Detail Poster</h4>
                <hr />
                <div class="dl-horizontal">
                    <div class="form-group row col-12">
                        <div class="col-md-4 font-weight-bold">
                            @Html.DisplayNameFor(model => model.email) :
                        </div>
                        <div class="col-md-8 ">
                            @Html.DisplayFor(model => model.email)
                        </div>
                    </div>

                    <div class="form-group row col-12">
                        <div class="col-md-4 font-weight-bold">
                            @Html.DisplayNameFor(model => model.username) :
                        </div>
                        <div class="col-md-8 ">
                            @Html.DisplayFor(model => model.username)
                        </div>
                    </div>

                    <div class="form-group row col-12">
                        <div class="col-md-4 font-weight-bold">
                            @Html.DisplayNameFor(model => model.fullname) :
                        </div>
                        <div class="col-md-8 ">
                            @Html.DisplayFor(model => model.fullname)
                        </div>
                    </div>


                    <div class="form-group row col-12">
                        <div class="col-md-4 font-weight-bold">
                            @Html.DisplayNameFor(model => model.avatar) :
                        </div>
                        <div class="col-md-8 ">
                            @Html.DisplayFor(model => model.avatar)
                        </div>
                    </div>


                    <div class="form-group row col-12">
                        <div class="col-md-4 font-weight-bold">
                            @Html.DisplayNameFor(model => model.phone) :
                        </div>
                        <div class="col-md-8 ">
                            @Html.DisplayFor(model => model.phone)
                        </div>
                    </div>

                    <div class="form-group row col-12">
                        <div class="col-md-4 font-weight-bold">
                            @Html.DisplayNameFor(model => model.birthaday) :
                        </div>
                        <div class="col-md-8 ">
                            @Html.DisplayFor(model => model.birthaday)
                        </div>
                    </div>

                    <div class="form-group row col-12">
                        <div class="col-md-4 font-weight-bold">
                            @Html.DisplayNameFor(model => model.created_at) :
                        </div>
                        <div class="col-md-8 ">
                            @Html.DisplayFor(model => model.created_at)
                        </div>
                    </div>

                </div>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.poster_id }) |
                @Html.ActionLink("Back to List", "Index")
            </p>

            <hr>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>
