
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/admins/_LayoutAdmin.cshtml";
}

@model PagedList.IPagedList<BTL_LT_UD_WEB.Models.poster>
@using PagedList.Mvc;

<section class="content">
    <div class="card">
        <!-- /.card-header -->
        <div class="card-body table-responsive">
            <div class="row">
                <div class="col-lg-1 col-md-1 col-1">
                    <span class="btn btn-success col-12" style="height:38px;color:white;">@Html.ActionLink("Thêm", "Create")</span>
                </div>
                <div class="col-lg-11 col-md-11 col-11">
                    <form action="" id="form-search">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" name="searchstr" id="searchstr" placeholder="Tìm kiếm tác giả...">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default" value="Search">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <table class="table table-light" border="1px">
                <thead class="thead-light">
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            User_name
                        </th>
                        <th>
                            Full_name
                        </th>
                        <th>
                            Avatar
                        </th>
                        <th>
                            Phone
                        </th>
                        <th>
                            Birthday
                        </th>
                        <th>
                            Ngày tham gia
                        </th>
                        <th> Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.poster_id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.username)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.fullname)
                            </td>
                            <td>
                                @{
                                    string ImagePath = "~/images/poster/" + item.avatar;
                                }
                                <img src="@Url.Content(ImagePath)" width="100" class="img-thumbnail" />
                                <br />
                                @Html.DisplayFor(modelItem => item.avatar)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.phone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.birthaday)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.created_at)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.poster_id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.poster_id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.poster_id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div style="text-align:center">Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount</div>
            <div style="text-align:center">@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))</div>
            <hr>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>

