
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@model BTL_LT_UD_WEB.Models.post


<section class="content">
    <div class="card">
        <!-- /.card-header -->
        <div class="card-body table-responsive">
            <div>
                <h4>Detail Post</h4>
                <hr />
                <dl class="dl-horizontal">
                    <div class="form-group row col-12">
                        <div class="col-md-4 font-weight-bold">
                            @Html.DisplayNameFor(model => model.category.category_name) :
                        </div>
                        <div class="col-md-8 ">
                            @Html.DisplayFor(model => model.category.category_name)
                        </div>
                    </div>
                    <div class="form-group row col-12">
                        <div class="col-md-4 font-weight-bold">
                            @Html.DisplayNameFor(model => model.poster.email) :
                        </div>
                        <div class="col-md-8 ">
                            @Html.DisplayFor(model => model.poster.email)
                        </div>
                    </div>
                    <div class="form-group row col-12">
                        <div class="col-md-4 font-weight-bold">
                            @Html.DisplayNameFor(model => model.title) :
                        </div>
                        <div class="col-md-8 ">
                            @Html.DisplayFor(model => model.title)
                        </div>
                    </div>

                    <div class="form-group row col-12">
                        <div class="col-md-4 font-weight-bold">
                            @Html.DisplayNameFor(model => model.description) :
                        </div>
                        <div class="col-md-8 ">
                            @Html.DisplayFor(model => model.description)
                        </div>
                    </div>

                    <div class="form-group row col-12">
                        <div class="col-md-4 font-weight-bold">
                            @Html.DisplayNameFor(model => model.content) :
                        </div>
                        <div class="col-md-8 ">
                            @Html.Raw(Model.content)
                        </div>
                    </div>


                    <div class="form-group row col-12">
                        <div class="col-md-4 font-weight-bold">
                            @Html.DisplayNameFor(model => model.avatar) :
                        </div>
                        <div class="col-md-8 ">
                            @Html.DisplayFor(model => model.avatar)
                        </div>
                    </div>

                    <div class="form-group row col-12">
                        <div class="col-md-4 font-weight-bold">
                            @Html.DisplayNameFor(model => model.created_at) :
                        </div>
                        <div class="col-md-8 ">
                            @Html.DisplayFor(model => model.created_at)
                        </div>
                    </div>
                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.post_id }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
            <hr>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>

