
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/admins/_LayoutAdmin.cshtml";
}
@model PagedList.IPagedList<BTL_LT_UD_WEB.Models.comment>
@using PagedList.Mvc;

<section class="content">
    <div class="card">
        <!-- /.card-header -->
        <div class="card-body table-responsive">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <form action="" id="form-search">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" name="searchstr" id="searchstr" placeholder="Nhập trạng thái comment...">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default" value="Search">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <table class="table table-light" border="1px">
                <thead class="thead-light">
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Nội dung
                        </th>
                        <th>
                            Trạng thái
                        </th>
                        <th>
                            Người comment
                        </th>
                        <th>
                            Ngày bình luận
                        </th>
                        <th>
                            Nội dung bài viết
                        </th>
                        <th> Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.comment_id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.content)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.user.username)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.datecomment)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.post.content)
                            </td>
                            <td>
                                @Html.ActionLink("Details", "Details", new { id = item.comment_id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.comment_id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div style="text-align:center">Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount</div>
            <div style="text-align:center">@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))</div>
            <hr>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>

