@model IEnumerable<BTL_LT_UD_WEB.Models.comment>

@{
    ViewBag.Title = "CommentUser";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


@*@model PagedList.IPagedList<BTL_LT_UD_WEB.Models.comment>
@using PagedList.Mvc*@ 
<section class="content">
    <div class="card">
        <h2>Người dùng Comment</h2>
        <!-- /.card-header -->
        <div class="card-body table-responsive">
            <div class="row">
                
            </div>
            <table class="table">
                <tr>

                    <th>
                        Nội dung
                    </th>
                    <th>
                        Ngày đăng
                    </th>
                    <th>
                        Bài viết
                    </th>

                </tr>

                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @item.content
                        </td>
                        <td>
                            @item.datecomment
                        </td>
                        <td>
                            <a href="/Admin/Posts/Details/@item.post_id">@item.post.title</a>

                        </td>


                    </tr>
                }

            </table>
            @*<div style="text-align:center">Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount</div>
            <div style="text-align:center">@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))</div>*@
            <hr>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>
